<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}ЕКАД Южный{% endblock %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {#  Fonts      #}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Roboto:wght@300;400;500;700&display=swap"
        rel="stylesheet">
  <link rel="icon" href="{{ asset('build/index.ico') }}" type="image/x-icon">
  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}

  {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
  {% endblock %}
</head>
<body>
<header class="header {% if app.request.pathinfo == '/' %}header_home{% endif %}">
  <div class="container">
    <div class="header__wrap">
      <div class="header-mobile">
        <div class="header-mobile__burger">
          <span></span>
        </div>
        <div class="header-mobile__menu">
          <nav class="header-mobile__nav">
            <li><a href="/about" class="header-mobile__navlink">О компании</a></li>
            <li><a href="/catalog/store" class="header-mobile__navlink">Инфраструктура</a></li>
            <li><a href="/catalog" class="header-mobile__navlink">Объекты в продаже</a></li>
            <li><a href="/contacts" class="header-mobile__navlink">Контактная информация</a></li>
          </nav>
          <a href="tel:73432269222" class="header-mobile__phone">+7 343 226 92 22</a>
        </div>
      </div>
      <a href="/" class="header__logo img"><img src="{{ asset('build/logo.svg') }}" alt="logo"></a>
      <nav class="header__menu">
        <li>
          <a href="/about" class="header__navlink">О компании</a>
          <ul class="header__submenu">
            <li><a href="/about/team" class="header__sublink">Наша команда</a></li>
            <li><a href="/about/residents" class="header__sublink">Резиденты парка</a></li>
            <li><a href="#" class="header__sublink">Управляющая компания</a></li>
            <li><a href="#" class="header__sublink">Документы</a></li>
          </ul>
        </li>
        <li><a href="/catalog/store" class="header__navlink">Инфраструктура</a></li>
        <li><a href="/catalog" class="header__navlink">Объекты в продаже</a></li>
        <li><a href="/contacts" class="header__navlink">Контактная информация</a></li>
      </nav>
      <a href="tel:73432269222" class="header__phone">+7 343 226 92 22</a>
      <div class="header__callback button open-callback">Заказать звонок</div>
    </div>
  </div>
</header>
<main>
  {% block content %}{% endblock %}
</main>
<footer class="footer">
  <div class="container">
    <form action="" class="footer__form">
      <div class="footer__form-title">Задать вопрос специалисту</div>
      <div class="footer__form-desc">Оставьте свои контактные данные и мы свяжемся с вами, чтобы ответить на любые
        вопросы
      </div>
      <div class="footer__form-row">
        <div class="labelwrap">
          <input type="text" class="footer__form-input input">
          <label class="label">Ваше имя</label>
        </div>
        <div class="labelwrap">
          <input type="tel" class="footer__form-input input phone-mask">
          <label class="label">Телефон</label>
        </div>
        <input type="submit" class="footer__form-submit button" value="Заказть звонок">
        <span class="footer__form-policy">
        Нажимая кнопку «заказ звонка», вы соглашаетесь с <a class="red" href="#">условиями</a>
          обработки и использования персональных данных
      </div>
    </form>
    <div class="footer__box">
      <div class="footer__col">
        <a href="/" class="footer__logo img"><img src="{{ asset('build/logo.svg') }}" alt="logo"></a>
        <div class="footer__copy footer__stick">© «ЕКАД Южный» 2021</div>
      </div>
      <div class="footer__col">
        <div class="footer__col-title">Объекты в продаже</div>
        <a href="/catalog/store" class="footer__col-link red">Производственно-складские здания по схеме Blue-to-Suit</a>
        <a href="/catalog/land" class="footer__col-link red">Земельные участки промышленного назначения</a>
      </div>
      <div class="footer__col">
        <div class="footer__col-title">Контакты</div>
        <div class="footer__col-text">
          <a href="tel:73432269222">+7 343 226 92 22</a>
          <a href="mailto:zayvki@gk-ktm.ru">zayvki@gk-ktm.ru</a>
        </div>
        <div class="footer__stick">Екатеринбург, ул. Бориса Ельцина, 1а, этаж 16, офис 16.4</div>
      </div>
      <div class="footer__col">
        <div class="footer__socials">
          <a href="#" class="footer__social">{{ source('@build'~asset('inst.svg')) }}</a>
          <a href="#" class="footer__social">{{ source('@build'~asset('fb.svg')) }}</a>
          <a href="#" class="footer__social">{{ source('@build'~asset('vk.svg')) }}</a>
          <a href="#" class="footer__social">{{ source('@build'~asset('ok.svg')) }}</a>
          <a href="#" class="footer__social">{{ source('@build'~asset('twitter.svg')) }}</a>
          <a href="#" class="footer__social">{{ source('@build'~asset('tg.svg')) }}</a>
        </div>
        <div class="footer__stick footer__dev">
          <span>Разработка сайта —</span>
          <a href="#">
            <img src="{{ asset('build/dev.svg') }}" alt="developer">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="overlay">
  <div class="modal modal_callback">
    <div class="modal__close"></div>
    <div class="modal__title">Обратный звонок</div>
    <form class="modal__form">
      <div class="labelwrap"><input type="text" class="input"><label class="label">Имя</label></div>
      <div class="labelwrap"><input type="tel" class="input phone-mask"><label class="label">Телефон</label></div>
      <div class="modal__submit-wrap">
        <input type="submit" class="modal__submit button" value="Отправить">
        <span>Я соглашаюсь с <a href="#" class="red">условиями</a> обработки и использования персональных данных</span>
      </div>
    </form>
  </div>
  <div class="modal modal_order">
    <div class="modal__close"></div>
    <div class="modal__title">Оформление заказа</div>
    <form class="modal__form">
      <div class="labelwrap"><input type="text" class="input"><label class="label">Имя</label></div>
      <div class="labelwrap"><input type="tel" class="input phone-mask"><label class="label">Телефон</label></div>
      <div class="labelwrap"><input type="text" class="input"><label class="label">Название организации</label></div>
      <div class="labelwrap"><input type="text" class="input"><label class="label">Комментарий к заказу</label></div>
      <div class="modal__submit-wrap">
        <input type="submit" class="modal__submit button" value="Отправить">
        <span>Я соглашаюсь с <a href="#" class="red">условиями</a> обработки и использования персональных данных</span>
      </div>
    </form>
  </div>
</div>
</body>
</html>
