{% extends 'base.html.twig' %}
{% block content %}
  <div class="page team block">
    <div class="container">
      <div class="breadcrumbs">
        <a href="/" class="breadcrumbs__link">Главная</a>
        <a href="/about" class="breadcrumbs__link">О компании</a>
        <a href="/team" class="breadcrumbs__link">Наша команда</a>
      </div>
      <h1 class="title">Наша команда</h1>
      <div class="team__wrap">
        {#    Фото рандомные    #}
        <div class="team__item">
          <div class="team__img img"><img src="{{ asset('build/team1.jpg') }}" alt="team person"></div>
          <div class="team__text">
            <div class="team__name">Бояршинов Петр Леонидович</div>
            <div class="team__position">Генеральный директор АО "Управляющая компания "Индустриальный парк "ЕКАД
              Южный"
            </div>
          </div>
        </div>
        <div class="team__item top">
          <div class="team__img img"><img src="{{ asset('build/team2.jpg') }}" alt="team person"></div>
          <div class="team__text">
            <div class="team__name">Скоробещук Михаил Павлович</div>
            <div class="team__position">Отдел развития</div>
            <div class="team__occupation">Руководит топо-геодезическим сектором. Опытнейший полевой специальист и
              управленец
            </div>
          </div>
        </div>
        <div class="team__item">
          <div class="team__img img"><img src="{{ asset('build/team3.jpg') }}" alt="team person"></div>
          <div class="team__text">
            <div class="team__name">Подполов Владислав Викторович</div>
            <div class="team__position">Отдел развития</div>
          </div>
        </div>
        <div class="team__item">
          <div class="team__img img"><img src="{{ asset('build/team.jpg') }}" alt="team person"></div>
          <div class="team__text">
            <div class="team__name">Катаева Ольга Васильевна</div>
            <div class="team__position">Отдел развития</div>
          </div>
        </div>
        <div class="team__item">
          <div class="team__img img"><img src="{{ asset('build/team1.jpg') }}" alt="team person"></div>
          <div class="team__text">
            <div class="team__name">Останин Сергей Николаевич</div>
            <div class="team__position">Главный инженер проекта</div>
          </div>
        </div>
        <div class="team__item">
          <div class="team__img img"><img src="{{ asset('build/team1.jpg') }}" alt="team person"></div>
          <div class="team__text">
            <div class="team__name">Сумачев Андрей Владимирович</div>
            <div class="team__position">Главный энергетик</div>
          </div>
        </div>
        <div class="team__item">
          <div class="team__img img"><img src="{{ asset('build/team1.jpg') }}" alt="team person"></div>
          <div class="team__text">
            <div class="team__name">Спиридонов Михаил Петрович</div>
            <div class="team__position">Главный инженер управляющей компании</div>
          </div>
        </div>
        <div class="team__item">
          <div class="team__img img"><img src="{{ asset('build/team.jpg') }}" alt="team person"></div>
          <div class="team__text">
            <div class="team__name">Соколова Алена Олеговна</div>
            <div class="team__position">Руководитель градостроительных проектов</div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}